{% extends 'admin.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ page_header }}
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row"> 
        <div class="col-md-4"> 
            <h2>Add Post</h2>
            {% if create_msg %}
                    <div class="alert alert-info" role="alert">
                        {{ create_msg }}
                    </div>
            {% endif%}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'action' : url("add_posts")}}) }}
            {% if form_errors(form) %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(form) }}
                </div>
            {% elseif errors%}
                {%  for error in errors %}
                    <div class="alert alert-danger" role="alert">
                        <li>{{ error }}</li>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <label for="exampleInputEmail1">Category Type</label>
                {% if form_errors(form.category_id) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.category_id) }}
                    </div>
                {% endif %}
                {{ form_widget(form.category_id, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Post Title</label>
                {% if form_errors(form.post_title) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.post_title) }}
                    </div>
                {% endif %}
                {{ form_widget(form.post_title, {'attr': {'class': 'form-control'}}) }}  
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Post Description</label>
                {% if form_errors(form.post_desc) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.post_desc) }}
                    </div>
                {% endif %}
                {{ form_widget(form.post_desc, {'attr': {'class': 'form-control'}}) }}  
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Post Image</label>
                {% if form_errors(form.post_image) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.post_image) }}
                    </div>
                {% endif %}
                {{ form_widget(form.post_image) }}  
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Post Content</label>
                {% if form_errors(form.post_content) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.post_content) }}
                    </div>
                {% endif %}
                {{ form_widget(form.post_content, {'attr': {'class': 'form-control'}}) }}  
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Post Status</label>
                {% if form_errors(form.post_status) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.post_status) }}
                    </div>
                {% endif %}
                {{ form_widget(form.post_status, {'attr': {'class': 'form-control'}}) }}  
            </div>
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }} 
            {{ form_widget(form.update, {'attr': {'style' : 'visibility:hidden'}}) }}
        {{ form_end(form) }}
    </div>
        
        <div class="col-md-8 table-responsive">
            {% if posts %}
                <form method='POST' action=''>
                        <div class="form-group">
                            <label>Search Post Criteria</label>
                            <select name='search' class='form-control'>
                                <option value=''>--Select Criteria--</option>
                                <option value=''>All Posts</option>
                                <option value='published'>Published Posts</option>
                                <option value='draft'>Drafted Posts</option>
                            </select>
                        </div>
                        <input type="submit" name="submit" value="Search Post" class='btn btn-primary'> 
                </form>
                <br>
                <h4>{{search}} Posts</h4>
            
                <table class="table table-hover table-bordered">
                     <tr>
                         <th>#</th>
                         <th>Category Title</th>
                         <th>Post Title</th>
                         <th>Post Image</th>
                         <th>Post Author</th>
                         <th>Post Status</th>
                         <th>Action</th>

                     <tr>
                     {% set num = 0 %}
                     {% for post in posts %}
                         <tr>
                             {% set num=num+1  %}
                             <td>{{ num }}</td>
                             <td>{{post.getCategoryTitle}}</td>
                             <td>{{post.getPostTitle}}</td>
                             <td><img src='{{asset(["uploads/",post.getPostImage]|join)}}' class='img-responsive' height='200' width='200'></td>
                             <td>{{post.getPostAuthor}}</td>
                             <td>{{post.getPostStatus}}</td>
                             <td>
                                     <a class="btn btn-primary" href="{{url("edit_posts", {'edit': post.getPostId })}}">Edit</a>
                                     <a class="btn btn-primary" href="{{url("post_details", {'id': post.getPostId })}}">Full Details</a>
                                     <a class="btn btn-danger" onclick='goto1("{{url("delete_posts", {'delete': post.getPostId })}}")' href='#'>Delete</a>
                             </td>
                         </tr> 
                     {% endfor %}
                 </table>
            {%else%}
                <h1 align="center">No {{search}} posts yet!.</h1>
            {% endif %}
        </div>
    </div>   
{% endblock %}
