{% extends 'home.html.twig' %}

{% block body %}
    
    {% if posts %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Posts
                    <small>{{category}}</small>
                </h1>

            </div>
        </div>
        {% for post in posts %}
            <!-- First Blog Post -->
            <div class="row">
                <div class="col-md-7">
                    <a href="{{url('post')}}/{{post.getPostId}}">
                        <img class="img-responsive img-hover" src="{{asset(["uploads/",post.getPostImage]|join)}}" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>{{post.getCategoryTitle}}</h3>
                    <br>
                    <h4>{{post.getPostTitle}}</h4>
                    <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.getPostDate.format("M d, Y \\a\\t H : i A")}}</p>
                    <br>
                    <p>{{post.getPostDesc}}</p>
                    <a class="btn btn-primary" href="{{url('post')}}/{{post.getPostId}}" title="Click here to view post and download attachments">View Post</a>
                </div>
            </div>
            <br>
            <hr>
        {% endfor %}
    {%else%}
        <h1 align="center">No posts yet!.</h1>
    {% endif %}
{% endblock body %}