{% extends 'home.html.twig' %}

{% block body %}
    <!-- Title -->
    <div class="col-md-10 col-lg-offset-1">
        <h1>{{post.getPostTitle}}</h1>

        <!-- Author -->
        <p class="lead">
            
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.getPostDate.format("M d, Y \\a\\t H : i A")}}</p>

        <hr>
        
        <!-- Preview Image -->
        <img class="img-responsive" src="{{asset(["uploads/",post.getPostImage]|join)}}" alt="">

        <hr>

        <!-- Post Content -->
        <h3>Post</h3>
        <p class="lead"  align="justify">{{post.getPostContent}}</p>
        <ol>
            {% if attachs %}
                <h3>Documents</h3>
                {% for attach in attachs %}
                    <li><a href="{{asset(["uploads/",attach.getAttachment]|join)}}">{{attach.getAttachment}}</a></li>
                    <p>{{attach.getAttachmentDesc}}</p>
                {% endfor %}
            {%else%}
                <h1 align="center">No documents yet!.</h1>
            {% endif %}
        </ol>
        <hr>
        <!-- Blog Comments -->

        <div class="well">
            <h4>Leave a Comment:</h4>
            {% if create_msg %}
                    <div class="alert alert-info" role="alert">
                        {{ create_msg }}
                    </div>
            {% endif%}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {% if form_errors(form) %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(form) }}
                </div>
            {% elseif errors%}
                {%  for error in errors %}
                    <div class="alert alert-danger" role="alert">
                        <li>{{ error }}</li>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                {% if form_errors(form.comment_content) %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.comment_content) }}
                    </div>
                {% endif %}
                {{ form_widget(form.comment_content, {'attr': {'class': 'form-control'}}) }}  
            </div>
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }} 
        {{ form_end(form) }}
        </div>
        {% if comments %}
            <hr>
            {% for comment in comments %}
                <div class="media">
                    <div class="media-body">
                        <h3 class="media-heading">{{comment.getFirstname}} {{comment.getSurname}}
                            <small>{{comment.getCommentDate.format("M d, Y \\a\\t H : i A")}}</small>
                        </h3>
                        {{comment.getCommentContent}}
                    </div>
                </div>
            {% endfor %}
        {% else%}
            <h1>No comments yet!</h1>
        {% endif %}
        <br>
        <hr>
        <a class="btn btn-primary" href="{{url('home')}}">Go back to Home<span class="glyphicon glyphicon-chevron-right"></span></a>
        <br>
        <hr>
    </div>
    
{% endblock %}
